.container-sign-in {
  background-color: #a5d9c6;
  display: grid;
  place-items: center;
  height: calc(100vh - 60px);

  .sign-in {
    width: 40%;
    background-color: #ffffff;
    padding: 42px 72px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      display: inline;
      width: fit-content;
      padding: 0 20px 4px 0;
      border-bottom: #000 2px solid;
    }

    .signin-form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .field {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          font-weight: 600;
        }

        input {
          padding: 8px;
          border-radius: 6px;
          border: #494949 1px solid;
        }

        input:focus {
          border: #39afa8 1px solid;
        }
      }

      .login {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        background-color: #32b09a;
        padding: 8px;
        margin-top: 8px;
        border: none;
        border-radius: 6px;
        transition: all 0.6s;
        cursor: pointer;
      }

      .login:hover {
        background-color: #398f81;
      }
    }

    .nav-link {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 600;

      a:hover {
        color: #2c2c2c;
      }
    }
  }
}
