.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 25px; */
  align-items: center;
  padding: 0 46px;
  background-color: #a5d9c6;
}

.navigation a {
  color: #494949;
}

.navigation .logo-container {
  padding: 25px 0;
  font-size: 20px;
  font-weight: 600;
}

.navigation .nav-links-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation .nav-link {
  padding: 10px 15px;
  cursor: pointer;
}
.navigation .nav-link:hover {
  color: #1f1f1f;
}

.nav-link.sign-in {
  font-size: 18px;
  font-weight: 600;
}
.nav-link.register {
  font-size: 18px;
  font-weight: 600;
  padding: 2px 12px;
  background-color: #ffffff;
  border: #39afa8 solid 2px;
  border-radius: 12px;
  margin-left: 28px;
}
.nav-link.register:hover {
  background-color: #a5d9c6;
}
